version: '3.8'

services:
  app:
    build: .
    ports:
      - "10000:10000"
    environment:
      - EMAIL_SENDER=test@example.com
      - EMAIL_PASSWORD=testpassword
      - ADMIN_USERNAME=admin
      - ADMIN_PASSWORD=admin
    volumes:
      - .:/app
